<h1>Astronauts Index</h1>


<ul id="astronaut-info">
  <% @astronauts.each do |astronaut| %>
  <% astronaut.order_missions.each do |mission| %>
  <li>
    <%= astronaut.name %>
    <p><%= mission.title %></p>
    <p><%= astronaut.total_time_in_space %></p>
  </li>
  <% end %>
  <li>
    <%= astronaut.age %>
  </li>
  <li>
    <%= astronaut.job %>
  </li>
  <% end %>
</ul>
<ul id="avg-age">
  <li>
    Average astronaut age: <%= @astronauts.average_age.to_i %>
  </li>
</ul>
